
// Import and define Vuetify color theme
// https://vuetifyjs.com/en/style/colors
@require '~vuetify/src/stylus/settings/_colors'
@require '~vuetify/src/stylus/settings/_variables'
@require '~vuetify/src/stylus/settings/_theme'

 
$material-dark.background = $brown.darken1 
$body-font-family = 'Noto Sans', sans-serif;
 
// Import Vuetify styling
@require '~vuetify/src/stylus/app'
  
.page
  @extend .fade-transition
 
 .leaflet-popup {
  .leaflet-popup-content-wrapper {
    background: #4f4141f0;
    color: #ffe5c4;
    border-top: 5px rgb(224, 176, 132) solid;
    border-bottom: 5px rgb(224, 176, 132) solid;
    border-radius: 0;
  }
  .leaflet-popup-tip-container {
    .leaflet-popup-tip {
      background: #e0af84;
    }
  }
  a.leaflet-popup-close-button {
    padding-top: 9px;
  }
  a.leaflet-popup-close-button:hover {
    color: #d52a2a;
  }
}
.application--wrap {
  background-color: transparent;
  background: none;
}