// Import and define Vuetify color theme
// https://vuetifyjs.com/en/style/colors
@require '~vuetify/src/stylus/settings/_colors'
$theme := {
  primary: $teal.lighten1,
  secondary: $brown.lighten1,
  accent: $orange.darken4,
  error: $red.base,
  warning: $yellow.base,
  info: $blue.base,
  success: $green.base 
}
 
// Import Vuetify styling
@require '~vuetify/src/stylus/app'

.page
  @extend .fade-transition
